@charset "UTF-8";
    body {
        font-family: "나눔스퀘어";
        background-color: #fafafa;
    }

    div {
        
        box-sizing: border-box;
    }

    #header {
        border: 1px solid #72CCFF;
        width: 100%;
        height: 92px;
        box-sizing: content-box;
    }

    #contentArea {
        width: 1344px;
        height: 2000px;
        margin: 0 auto;
    }

    .contentHead {
        width: 100%;
        height: 10%;
    }

    #contentTitle {
        display: block;
        width: 100%;
        margin-top: 100px;
        padding-left: 50px;
        font-size: 50px;
        color: #0E76B3;
        font-weight: bold;
    }
    #content{
        width: 100%;
        height: 85%;
        padding: 50px;
    }
    #footer{
        width: 100%;
        height: 300px;
    }
    .cleanTypeArea{
        border: 2px solid #0E76B3;
        width: 100%;
        height: 400px;
        margin-bottom: 150px;
        margin-top: 10px;
        border-radius: 5px;
        box-shadow: 0px 3px 6px rgb(0 0 0/ 16%);
        background-color: white;
    }
    .imgArea{
        float: left;
        width: 30%;
        height: 100%;
        padding: 20px;
        
        
    }
    .textArea{
        
        width: 70%;
        height: 100%;
        float: left;
        padding: 20px;
    }
    .typeName{
        font-size: 30px;
        color: #0E76B3;
        font-weight: bold;
    }
    .cleanType{
        font-size: 20px;
        cursor: pointer;
    }
	.text{
		display:block;
		font-size: 20px;
		background-color: #fafafa;
		height:280px;
		box-shadow: 0px 3px 6px rgb(0 0 0/ 10%);
	}