body {
        font-family: "나눔스퀘어";
        background-color: #fafafa;
    }

    #contentArea {
        width: 1344px;
        height: 2000px;
        margin: 0 auto;
    }

    .contentHead {
        width: 1344px;
        height: 200px;
    }

    #contentTitle {
        display: block;
        width: 100%;
        margin-top: 100px;
        font-size: 50px;
        color: #0E76B3;
        font-weight: bold;
        text-align: center;
		
    }

    .contentBody {
        border: 1px solid black;
        width: 1116px;
        height: 418px;
        border-radius: 10px;
        margin: 0 auto;
        box-shadow: 0px 3px 6px rgb(0 0 0/ 16%);
    }

    #category {
        margin-top: 60px;
        font-size: 25px;
        float: left;
        background-color:white;
    }

    #categoryForm {
        float: left;
    }

    #categoryTitle {
        display: block;
        float: left;
        width: 100%;
        padding-left: 20px;
    }
    .option{
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .categoryDiv {
        width: 100px;
    }
    #bodyTitle{
        display: block;
        text-align: center;
        height: 100px
    }
    #contractArea{
        float: left;
        width: 300px;
        height: 100%;
        margin-left: 53px;
    }
    #side{
        float: left;
        
    }
    div{
        box-sizing: border-box ;
    }
        .contentBody {
        border: 1px solid black;
        width: 1116px;
        height: 418px;
        border-radius: 10px;
        margin: 0 auto;
    }
    #left{
        width: 35%;
        height: 100%;
        float: left;
        padding: 30px;
    }
    #right{
        width: 65%;
        height: 100%;
        padding: 30px;
        float: left;
    }
    #logoArea{
        width: 100%;
        height: 60%;
    }
    #toInfoArea{
        width: 100%;
        height: 40%;
        
    }
    #CompanyLogo{
        border-radius: 5px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    #toInfoBtn{
        width: 100%;
        margin-top: 50px;
    }
    #reviewArea{
        width: 100%;
        height: 15%;
        padding-bottom: 10px;  
        padding-left: 10px;
        padding-right: 10px;  
    }
    #infoArea{
        width: 100%;
        height: 45%;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #sideArea{
        width: 100%;
        height: 40%;
        padding-top: 50px;
        padding-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #review{
        border: 1px solid black;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    #info{
        border: 1px solid black;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    #side{
        border: 1px solid black;
        width: 45%;
        height: 100%;
        border-radius: 5px;
    }
