@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: 'NanumSquare';
/* 	color: #555;
	font-size: 16px;
	background-color: #fafafa; */
}

#wrap {
	/* border: 1px solid blue;*/
	width: 100%;
	height: 968px;
	margin: 0 auto;
}

/*헤더*/
#header {
/* 	border: 1px solid red; */
	width: 100%;
	height: 70px;
}

/*콘텐츠*/
#content {
	/*border: 1px solid red;*/
	width: 100%;
	height: 596px;
}

#content_inner {
	/*border: 1px solid purple;*/
	width: 1344px;
	height: 100%;
	margin: 0 auto;
}

#ChangPwd_form {
	/* border: 1px solid purple;*/
	width: 400px;
	height: 481px;
	margin: 0 auto;
	position: relative;
	top: 60px;
}

#ChangPwd_form h2 {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}

#input_form {
	/*border: 1px solid red;*/
	height: 410px;
	margin-top: 20px;
	position: relative;
	top: 30px;
}

.input {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	color: #555;
	border: 1px solid #ccc;
	padding: 0 19px;
	margin-bottom: 15px;
	font-family: fantasy;
}

/* input[name="userPwdRe"] {
	margin-bottom: 30px;
} */

.txt_guide {
	/*border: 1px solid blue;*/
	margin: 0 0 25px 15px;
	display:none;
}

.txt_guide span {
	font-size: 13px;
	color : #b3130b;
}

input[type="submit"] {
	background-color: #0E76B3;
	border-color: #0E76B3;
	color: #fafafa;
	/*margin-top: 15px;*/
	box-shadow: 0px 3px 6px rgb(0 0 0/ 16%);
}

/*풋터*/
#footer {
/* 	border: 1px solid red; */
	width: 100%;
	height: 302px;
	background-color: #E6E6E6;
}