@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: 'NanumSquare';
	color: #555;
	font-size: 15px;
	background-color: #fafafa;
}

#wrap {
	/*border: 1px solid blue;*/
	width: 100%;
	height: 1353px;
	margin: 0 auto;
}


/*헤더*/
#header {
	border: 1px solid red;
	width: 100%;
	height: 70px;
}

/*콘텐츠*/
#content {
	/*border: 1px solid red;*/
	width: 100%;
	height: 981px;
}

#content_inner {
	/* border: 1px solid purple;*/
	width: 1344px;
	height: 100%;
	margin: 0 auto;
}

#join_form {
	/*border: 1px solid purple;*/
	width: 600px;
	height: 921px;
	margin: 60px auto;
	margin-bottom: 0;
	/*text-align: center;*/
}

#join_form h2 {
	text-align: center;
	font-weight: 600;
	font-size: 2rem;
}

#join_title {
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	border-bottom: 3px solid #555;
}

#join_title span {
	float: right;
	position: relative;
	top: 20px;
}

.ico {
	color: #ee6a7b;
}

#join_table th {
	width: 13%;
	/*height: 100px;*/
	/*border: 1px solid red;*/
	vertical-align: top;
	font-weight: bold;
	padding-left: 10px;
	line-height: 45px;
}

#join_table td {
	width: 40%;
	/*height: 100px;*/
	/*border: 1px solid red;*/
	vertical-align: top;
	padding-right: 10px;
	padding-bottom: 20px;
}

.input_txt {
	width: 300px;
	height: 45px;
	border-radius: 5px;
	color: #555;
	border: 1px solid #ccc;
	padding: 0 15px;
	margin: 0 10px;
}

input[type=password] {
	font-family: fantasy;
}

input[type='button'] {
	width: 130px;
	height: 45px;
	border-radius: 5px;
	padding: 0 15px;
	border: 1px solid #0E76B3;
	color: #0E76B3;
	font-weight: 600;
}

.txt_guide {
	/*display: block;*/
	/*display: none;*/
	margin: 5px 0 0 15px;
	/* 수정 */
	display:none;
	
}

.txt_guide span {
	font-size: 13px;
	color : #b3130b;
}

:root { -
	-form-color: #0E76B3;
}

input[type='checkbox'] {
	transform: scale(1.5);
	border-radius: 50px;
	margin-right: 10px;
	accent-color: var(- -form-color);
}

label {
	font-weight: 600;
	width: 100%;
	margin: 5px 10px 0 10px;
	display: block;
}

label:first-child {
	font-size: 18px;
}

table tr:last-child {
	border-top: 3px solid #555;
}

.check_agree {
	text-decoration: none;
	color: #0E76B3;
	padding-right: 10px;
	position: relative;
	right: 0px;
	font-weight: 600;
	float: right;
}

#form_submit {
	width: 100%;
	text-align: center;
}

#form_submit input {
	margin-top: 10px;
	width: 230px;
	height: 60px;
	border-radius: 5px;
	padding: 0 15px;
	border: 1px solid #0E76B3;
	background-color: #0E76B3;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	box-shadow: 0px 3px 6px rgb(0 0 0/ 16%);
}

/*풋터*/
#footer {
	border: 1px solid red;
	width: 100%;
	height: 302px;
	background-color: #E6E6E6;
}