@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: 'NanumSquare';
	color: #555;
	font-size: 16px;
	background-color: #fafafa;
}

#wrap {
	/*border: 1px solid blue;*/
	width: 100%;
	height: 1000px;
	margin: 0 auto;
}

/*헤더*/
#header {
	border: 1px solid red;
	width: 100%;
	height: 70px;
}

/*콘텐츠*/
#content {
	/*border: 1px solid red;*/
	width: 100%;
	height: 628px;
}

#content_inner {
	/*border: 1px solid purple;*/
	width: 1344px;
	height: 100%;
	margin: 0 auto;
}

#showId {
	/*border: 1px solid blue;*/
	width: 800px;
	height: 500px;
	margin: 0 auto;
	position: relative;
	top: 60px;
}

#findPwdbtn {
	width: 100%;
	height: 50px;
	margin-top: 17px;
	border-radius: 5px;
}

#findPwdbtn a {
	line-height: 50px;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	background-color: #0E76B3;
	border-color: #0E76B3;
	color: #fafafa;
	box-shadow: 0px 3px 6px rgb(0 0 0/ 16%);
	border: 1px solid #0E76B3;
}

#loginbtn {
	width: 100%;
	height: 50px;
	margin-top: 17px;
	border-radius: 5px;
	border: 1px solid #0E76B3;
}

#loginbtn a {
	line-height: 50px;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	background-color: #fafafa;
	border-color: #0E76B3;
	color: #0E76B3;
	box-shadow: 0px 3px 6px rgb(0 0 0/ 16%);
}

#showId>div>h2 {
	font-size: 24px;
	margin-bottom: 9px;
}

.type {
	/* border: 1px solid red;*/
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
}

.title {
	width: 100%;
	height: 20%;
}

.title h2 {
	position: relative;
	font-size: 30px;
	font-weight: 600;
	top: 60px;
	border-bottom: 3px solid #ccc;
	width: 60%;
	height: 50px;
	margin: 0 auto;
}

.check {
	/*border: 1px solid blue;*/
	width: 100%;
	height: 80%;
}

.btn {
	width: 60%;
	height: 50%;
	margin: 0 auto;
	margin-top: 40px;
	cursor: pointer;
	border-radius: 15px;
	box-shadow: 0px 3px 6px rgb(0 0 0/ 16%);
}

#member {
	border: 2px solid #0E76B3;
	background-color: #fff;
	color: #0E76B3;
	font-size: 35px;
	font-weight: 500;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	box-shadow: 0px 3px 6px rgb(0 0 0/ 16%);
	line-height: 194.77px;
}

#company {
	border: 2px solid #0E76B3;
	background-color: #0E76B3;
	color: #fff;
	font-size: 35px;
	font-weight: 500;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	box-shadow: 0px 3px 6px rgb(0 0 0/ 16%);
	line-height: 194.77px;
}

/*풋터*/
#footer {
	border: 1px solid red;
	width: 100%;
	height: 302px;
	background-color: #E6E6E6;
}